.tab-buttons {
    display: flex;

    background: #162433;
    margin-bottom: 2rem;

    border-radius: 8px;
}

.tab-buttons button {
    flex: 1;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;

    background: transparent;
    border: none;

    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;

    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;

    transition: all 0.2s ease;
}

.tab-buttons button.active {
    background: #223447;
    color: #fff;
}

.tab-buttons button:hover {
    background: #223447;
    color: #fff;
}

.info-box {
    border: 1px solid rgba(255,255,255,0.15);

    border-radius: 20px;

    padding: 2rem;

    min-height: 400px;
}

.entry {
    margin-bottom: 2rem;
}

.entry h3 {
    margin-bottom: 0.25rem;
}