.hero-layout {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 4rem;

    width: 100%;
}

.hero-content {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.1;

    margin: 0;
}

.hero-subtitle {
    font-size: 16.25px;
    font-weight: 500;
    color: #fff;
    line-height: 1.6;

    margin-bottom: 20px;
}

.hero-status {
    width: fit-content;
    padding: 4px 16px;

    border-radius: 999px;

    border: 0.5px solid #8effc376; 

    background: #007a3923;;
    color: #8effc3;

    font-size: 16.25px;
    font-weight: 500;

    margin-bottom: 50px;
}

.button-group {
    display: flex;
    gap: 15px;
}

.resume-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 14px;

    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);

    color: #fff;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.2s ease;
}

.resume-button.icon-only {
    padding: 10px 17px;
    justify-content: center;
    gap: 0;
}

.resume-button:hover {
    background: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.4);

    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.resume-button:active {
    transform: translateY(0px);
    box-shadow: none;
}

.resume-button svg {
    transition: transform 0.2s ease;
}

.resume-button:hover svg {
    transform: scale(1.1);
}



.hero-image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    height: 350px;

    border-radius: 24px;
    object-fit: cover;
}

