.skills {
    padding: 8rem 0;
}

.skills-heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 36px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.skill-box {
    min-height: 220px;

    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;

    padding: 25px;

    box-sizing: border-box;
}

.skill-box:nth-child(even) {
    transform: translateY(30px);
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap:7px;
}

.skill-item {
    padding: 5px 12px;

    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 6px;

    color: white;
    font-size: 12px;
}

.skill-box h3 {
    color: white;
    margin: 0;
    font-size: 20px;
}

.skill-box p {
    font-size: 16px;
    margin: 10px 0;
    text-align: justify;
}