.wrapper {
    width: min(75%, 1200px);
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-title {
    grid-column: 1 / 7;

    font-size: 35px;
    font-weight: 400;
    line-height: 1.1;

    margin: 0;
}

.hero-subtitle {
    grid-column: 1 / 7;

    font-size: 16.25px;
    font-weight: 500;
    color: #fff;
    line-height: 1.6;
}

.hero-status {
    grid-column: 1 / 5;

    width: fit-content;
    padding: 4px 16px;

    border-radius: 999px;

    border: 0.5px solid #8effc376; 

    background: #007a3923;;
    color: #8effc3;

    font-size: 16.25px;
    font-weight: 500;

    margin-bottom: 20px;
}

.button-group {
    grid-column: 1 / 8;
    display: flex;
    gap: 12px;
}

.resume-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 14px;

    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);

    color: #fff;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.2s ease;
}

.resume-button.icon-only {
    width: 40px;
    height: 40px;
    padding: 0;

    justify-content: center;
    gap: 0;
}

.hero-image {
    grid-column: 8 / 12;
    grid-row: 1 / span 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    height: auto;

    border-radius: 24px;
    object-fit: cover;
}

